@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Added */
  --bg-color: #fff5eb;
  --bg-color-btn: #ff6b00;
}

/* This section is Added */
.bg-dynamic {
  background-color: var(--bg-color);
}
.bg-btn {
  background-color: var(--bg-color-btn);
}

.floating {
  @apply animate-diagonalFloat;
  @apply animate-upDownFloat;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

/* till here */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
